.viewport-container{overflow-x:hidden;overflow-y:auto;background:white}
.trackster-nav-container{width:100%;height:0;text-align:center}
.trackster-nav{padding:0 0;color:#333;font-weight:bold;background:#cccccc;position:relative;display:inline-block;top:-2em;background:transparent;border:none}
.chrom-nav{width:15em}
.content{font:10px verdana;position:relative}
.nav-controls{text-align:center;padding:1px 0}.nav-controls input{margin:0 5px}
#zoom-in,#zoom-out{display:inline-block;height:16px;width:16px;margin-bottom:-3px;cursor:pointer}
#zoom-out{background:transparent url(../images/fugue/magnifier-zoom-out.png) center center no-repeat}
#zoom-in{margin-left:10px;background:transparent url(../images/fugue/magnifier-zoom.png) center center no-repeat}
.nav-input{font-size:12px;width:30em;z-index:2}
.location{display:inline-block;width:15em;margin:0 10px}
.intro{z-index:2;margin-left:auto;margin-right:auto;color:#555;text-align:center;font-size:16px}.intro .action-button{background-color:#CCC;margin-top:10px;padding:1em;text-decoration:underline}
.overview{width:100%;margin:0px;color:white}
.overview-viewport{position:relative;height:14px;background:white;margin:0}
.overview-close{font:9px verdana;position:absolute;top:0px;right:0px;padding:5px;z-index:2;background-color:white}
.overview-highlight{top:0px;position:absolute;z-index:2;border-style:solid;border-color:#666;border-width:0px 1px}
.overview-boxback{width:100%;bottom:0px;z-index:2;position:absolute;height:14px;background:#eee;border:solid #999 1px}
.overview-box{cursor:pointer;bottom:0px;z-index:2;position:absolute;margin-top:0px;height:14px;background:#c1c9e5 url(../images/visualization/draggable_horizontal.png) center center no-repeat;border:solid #666 1px}
.viewport-canvas{width:100%;height:100px}
.yaxislabel{z-index:2;position:absolute;right:20px}
.yaxislabel.bottom{bottom:2px}
.group-handle{cursor:move;float:left;background:#eee url('../images/tracks/block.png');width:12px;height:12px}
.group{min-height:20px;border-top:1px solid #888;border-bottom:1px solid #888}.group>.track-header{position:relative;float:left}
.track-header{height:16px;position:absolute;z-index:2;background-color:rgba(1,1,1,0.1);border-radius:5px;padding:0px 2px;text-align:left;margin:2px;}.track-header:hover{background-color:#DDDDDD}
.track-header .menubutton{margin-left:0px}
.track-name{float:left;margin-top:2px}
.tiles{background:url('../images/tracks/diag_bg.gif');position:relative;overflow:hidden}
.overlay{position:absolute;left:0;top:0}
.track-tile{position:absolute;background:white}.track-tile canvas{position:relative;z-index:1}
.tile-message{border-bottom:solid 1px red;text-align:center;color:red;background-color:white}
.track{position:relative;border-bottom:1px solid #888}.track.error{background:#ECB4AF}
.track.nodata{background:#EEEEEE}
.track.pending{background:#FFFFCC}
.track-content{text-align:center;position:relative;min-height:20px;padding:0px 0px 1px 0px}.track-content .message{position:relative;top:4px}
.loading{min-height:100px}
.label-track{font-size:10px;border:none;padding:0;margin:0;height:1.5em;overflow:hidden}.label-track .label-container{position:relative;height:1.3em}
.label-track .label{position:absolute;border-left:solid #999 1px;padding:1px;padding-bottom:2px;display:inline-block}
.label-track .track-content{border:none;background:white}
.reference-track{border:none;margin:0;padding:0;line-height:1}.reference-track .track-content{min-height:0px}
.right-float{float:right;margin-left:5px}
.top-labeltrack{position:relative;border-bottom:solid #999 1px}
.nav-labeltrack{border-top:solid #999 1px;border-bottom:solid #333 1px}
input{font:10px verdana}input[type="submit"]{padding:0px;margin-right:20px;font-size:inherit}
input.color-input{float:left}
.dynamic-tool,.filters{padding-top:18px;padding-bottom:0.5em;margin-left:0.25em}
.dynamic-tool{width:410px}
.filters{float:left;margin:1em;width:60%;position:relative}
.display-controls{float:left;margin-left:1em}
.slider-row{margin-left:1em;height:16px}.slider-row.input{height:22px}
.elt-label{float:left;width:30%;font-weight:bold;margin-right:1em}
.slider{float:left;width:40%;position:relative;padding-top:2px}
.tool-name{font-size:110%;font-weight:bold}
.param-row{margin-top:0.2em;margin-left:1em}
.param-label{float:left;font-weight:bold;padding-top:0.2em;width:50%}
.menu-button{margin:0px 4px 0px 4px}
.exclamation{background:transparent url(../images/fugue/exclamation.png) no-repeat;margin-left:5em}
.track-icons{float:left}
.icon-button.bookmarks{background:transparent url('../images/fugue/bookmarks-bw.png') no-repeat}.icon-button.bookmarks:hover{background:transparent url('../images/fugue/bookmarks.png') no-repeat}
.icon-button.layers-stack{background:transparent url('../images/fugue/layers-stack-bw.png') no-repeat}.icon-button.layers-stack:hover{background:transparent url('../images/fugue/layers-stack.png') no-repeat}
.icon-button.hammer{background:transparent url('../images/fugue/hammer-bw.png') no-repeat}.icon-button.hammer:hover{background:transparent url('../images/fugue/hammer.png') no-repeat}
.icon-button.toolbox{background:transparent url('../images/fugue/toolbox-bw.png') no-repeat}.icon-button.toolbox:hover{background:transparent url('../images/fugue/toolbox.png') no-repeat}
.icon-button.globe{background:transparent url('../images/fugue/globe-bw.png') no-repeat}.icon-button.globe:hover{background:transparent url('../images/fugue/globe.png') no-repeat}
.icon-button.block--plus{background:transparent url('../images/fugue/block--plus-bw.png') no-repeat}.icon-button.block--plus:hover{background:transparent url('../images/fugue/block--plus.png') no-repeat}
.icon-button.toggle{background:transparent url('../images/fugue/toggle-bw.png') no-repeat}.icon-button.toggle:hover{background:transparent url('../images/fugue/toggle.png') no-repeat}
.icon-button.toggle-expand{background:transparent url('../images/fugue/toggle-expand-bw.png') no-repeat}.icon-button.toggle-expand:hover{background:transparent url('../images/fugue/toggle-expand.png') no-repeat}
.icon-button.gear{background:transparent url('../images/fugue/gear-bw.png') no-repeat}.icon-button.gear:hover{background:transparent url('../images/fugue/gear.png') no-repeat}
.icon-button.application-dock-270{background:transparent url('../images/fugue/application-dock-270-bw.png') no-repeat}.icon-button.application-dock-270:hover{background:transparent url('../images/fugue/application-dock-270.png') no-repeat}
.icon-button.ui-slider-050{background:transparent url('../images/fugue/ui-slider-050-bw.png') no-repeat}.icon-button.ui-slider-050:hover{background:transparent url('../images/fugue/ui-slider-050.png') no-repeat}
.icon-button.arrow-resize-090{background:transparent url('../images/fugue/arrow-resize-090-bw.png') no-repeat}.icon-button.arrow-resize-090:hover{background:transparent url('../images/fugue/arrow-resize-090.png') no-repeat}
.icon-button.layer-transparent{background:transparent url('../images/fugue/layer-transparent-bw.png') no-repeat}.icon-button.layer-transparent:hover{background:transparent url('../images/fugue/layer-transparent.png') no-repeat}
.remove-icon,.overview-close{background:transparent url(../images/fugue/cross-small-bw.png) no-repeat}
.icon-button.remove-icon:hover,.overview-close:hover{background:transparent url(../images/fugue/cross-circle.png) no-repeat}
.child-track-icon{background:url('../images/fugue/arrow-000-small-bw.png') no-repeat;width:30px;cursor:move}
.track-resize{background:#fff url('../images/visualization/draggable_vertical.png') no-repeat top center;position:absolute;right:3px;bottom:-4px;width:14px;height:7px;border:solid #999 1px;z-index:2}
.bookmark{background:white;border:solid #999 1px;border-right:none;margin:0.5em;margin-right:0;padding:0.5em}.bookmark .position{font-weight:bold}
.delete-icon-container{float:right}
.icon{display:inline-block;width:16px;height:16px}.icon.more-down{background:url('../images/fugue/arrow-transition-270-bw.png') no-repeat 0 0}
.icon.more-across{background:url('../images/fugue/arrow-transition-bw.png') no-repeat 0 0}
.feature-popup{position:absolute;z-index:2;padding:5px;font-size:10px;filter:alpha(opacity=80);background-repeat:no-repeat;background-image:url(../images/tipsy.gif);background-position:top center}
.feature-popup-inner{padding:5px 8px 4px 8px;background-color:black;color:white}
.zoom-area{position:absolute;top:0px;background-color:#ccf;opacity:0.5;z-index:2}
.mouse-pos{position:absolute;top:0px;background-color:black;opacity:0.15;height:100%;width:1px}
.draghandle{margin-top:2px;cursor:move;float:left;background:transparent url(../images/visualization/draggable_horizontal.png) center center no-repeat;width:10px;height:12px}
.dragging{border:1px solid blue}
