<%inherit file="/base.mako"/>
<%namespace file="/dataset/display.mako" import="render_deleted_data_message" />

<%def name="title()">Dataset Display</%def>

<%def name="javascripts()">
    ${parent.javascripts()}
    ${h.js( "libs/require" )}

    <script type="text/javascript">
        require.config({
            baseUrl: "${h.url_for('/static/scripts')}",
            shim: {
                "libs/backbone/backbone": { exports: "Backbone" },
            }
        });

        require(['mvc/data'], function(data) {
            data.createTabularDatasetChunkedView({
                dataset_config: _.extend( ${h.to_json_string( trans.security.encode_dict_ids( dataset.to_dict() ) )}, 
                        {
                            url_viz: "${h.url_for( controller='/visualization')}",
                            chunk_url: "${h.url_for( controller='/dataset', action='display',
                                             dataset_id=trans.security.encode_id( dataset.id ))}",
                            first_data_chunk: ${chunk}
                        }
                ),
                parent_elt: $('body')
            });
        });
    </script>
</%def>

<%def name="stylesheets()">
    ${parent.stylesheets()}
</%def>

${ render_deleted_data_message( dataset ) }
