// trello-ish style
//@icon-btn-size:     18px;
//@icon-btn-margin:   2px;
//@icon-btn-color:    #AAA;
//@icon-btn-bg:       @btn-default-bg;
//@icon-btn-border:   lightgrey;

// no bg
//@icon-btn-size:     16px;
//@icon-btn-margin:   0px;
//@icon-btn-color:    #444;
//@icon-btn-bg:       transparent;
//@icon-btn-border:   transparent;

// dark bg
//@icon-btn-size:     16px;
//@icon-btn-margin:   1px;
//@icon-btn-color:    @link-color;
//@icon-btn-bg:       rgba( 0, 0, 0, 0.1 );
//@icon-btn-border:   transparent;

// big & dark style
@icon-btn-size:     22px;
@icon-btn-margin:   2px;
@icon-btn-color:    @btn-default-color;
//@icon-btn-bg:       transparent;
@icon-btn-bg:       @btn-default-bg;
@icon-btn-border:   @btn-default-border;

.icon-btn {
    display : inline-block;
    height  : @icon-btn-size;
    width   : @icon-btn-size;
    // center the icon
    text-align: center;
    line-height: @icon-btn-size - 3;
    font-size: 1.2em;

    // colors and borders
    border-radius: 3px;
    border: 1px solid @icon-btn-border;
    background-color: @icon-btn-bg;
    color           : @icon-btn-color;

    cursor: pointer;

    // tweaks
    //TODO: not working - span
    //.fa-comment {
    //    display: inline-block;
    //    margin-bottom: 4px;
    //}
}
.icon-btn:hover {
    background-color: white;
    color: maroon;
}
.icon-btn.disabled {
    background-color: transparent;
    color: #BBB;
    border-color: #BBB;
    //color: @icon-btn-border;
}
.icon-btn-group {
display: inline-block;
.icon-btn:not(:last-child) {
    margin: 0px;
    border-radius: 0px;
    border-right: none;
}
.icon-btn:first-child {
    margin-right: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.icon-btn:last-child {
    margin-left: 0px;
    border-radius: 0px 3px 3px 0px;
}
.icon-btn:only-child {
    margin: 0px;
    border-radius: 3px;
}
}


// ---------------------------------------------------------------------------- search bar
.search-input {
    .search-query {
        width           : 100%;
        padding-right   : 24px;
    }
    .search-clear,
    .search-loading {
        // it places the icons on the right of the bar (and puts the lotion on its skin)
        position    : relative;
        display     : inline-block;

        float       : right;
        margin-top  : -23px;
        margin-right : 4px;

        font-size   : 1.4em;
        line-height : 23px;
        color       : grey;
    }

    .search-clear:hover {
        color       : @link-color;
    }
}

// ---------------------------------------------------------------------------- panel header buttons
#history-refresh-button,
#history-options-button {
    display : inline-block;
    height  : @icon-btn-size;
    width   : @icon-btn-size;
    text-align  : center;
    line-height : @icon-btn-size - 3;
    font-size   : 1.2em;

    padding: 0px;
}


// ---------------------------------------------------------------------------- datasets
.hda.dataset {
    border: 1px solid @border-default-color;

    // body mixins
    @vertical-gap: 8px;
    .vertical-spacing {
        margin-bottom: @vertical-gap;
    }
    .info-section {
        border-radius: 3px;
        border: 1px solid fadeout( @layout-border-color, 70% );
        //background-color: fadeout( white, 60% );
        padding: 4px;
    }
    @spacing-top     : 6px;
    @spacing-right   : 10px;
    @spacing-bottom  : 6px;
    @spacing-left    : 8px;
    .dataset-padding {
        padding: @spacing-top @spacing-right @spacing-bottom @spacing-left;
    }

    [class$=messagesmall] {
        margin: @spacing-top @spacing-right ( @spacing-bottom - 4 ) @spacing-left;
        font-size: 90%;
    }

    .help-text {
        font-weight: normal;
        // font-style: italic;
        // font-size: 90%;
        color: #555;
    }

    .dataset-selector {
        float: left;
        // always initially hidden and zero width
        display: none;
        width: 32px;
        height: 32px;
        //HACK: neg. on the bottom due to padding-bottom in title-bar - very tweakish
        margin: 0px 0px -( @spacing-bottom ) 0px;
        padding: ( @spacing-top + 2 ) 0px 2px ( @spacing-left - 1 );
        font-size: 80%;
        color: @btn-default-color;
        cursor: pointer;
        vertical-align: middle;
    }
    .dataset-selector:hover {
        color: maroon;
    }

    .dataset-title-bar {
        cursor: pointer;
        outline: none;
        .dataset-padding;

        .dataset-state-icon {
        }
        .dataset-title {
            display: inline;
            font-weight: bold;
            text-decoration: underline;
            word-wrap: break-word;
            word-break: break-all;
            line-height: 16px;
        }
    }

    .dataset-primary-actions {
        .icon-btn-group();
        float: right;
        margin: @spacing-top @spacing-right 0;
        .icon-btn {
            margin-left: @icon-btn-margin;
        }
    }

    .dataset-body {
        display: none;
        // background-color: fadeout( white, 70% );
        //.dataset-padding;
        padding: 0px @spacing-right @spacing-bottom @spacing-left;

        [class$=messagesmall] {
            margin: 0px 0px 8px 0px;
        }

        label {
            margin: 0px;
            padding: 0px;
            font-weight: normal;
        }
        .prompt {
            .help-text;
        }
        .prompt:after {
            content: ':';
            margin-right: 4px;
        }

        .dataset-summary {
            .dataset-blurb {
                margin-bottom: 2px;
            }
            .dataset-datatype, .dataset-dbkey {
                display: inline;
                .value {
                    font-weight: bold;
                }
            }
            .dataset-datatype .value:after {
                content: ',';
                .help-text;
                margin-right: 4px;
            }
            .dataset-dbkey:after {
                content: ' ';
                display: block;
                .vertical-spacing;
            }
            .dataset-info {
                .info-section;
                overflow: auto;
                .value {
                    white-space: pre-line;
                }
            }

            .job-error-text {
                .info-section;
                overflow: auto;
                white-space: pre;
            }

            // handle the last vertical gap in the parent as summary is used in other states as well (w/o info)
            .vertical-spacing;
        }

        .dataset-actions {
            .left {
                .icon-btn-group();
                float: left;
                .icon-btn {
                    margin-right: @icon-btn-margin;
                }
                //.icon-btn-group {
                //    margin-right: @icon-btn-margin;
                //    .icon-btn {
                //        margin-right: 0;
                //    }
                //}
                &:not(:empty) {
                    // can't use :empty on dataset-actions - will always have left & right, so
                    //  add gap to left (more likely to have children)
                    .vertical-spacing;
                }
            }
            .right {
                .icon-btn-group();
                float: right;
                .icon-btn {
                    margin-left: @icon-btn-margin;
                }
            }
        }

        //TODO: move these out
        .tags-display {
            display: none;
            .vertical-spacing;
            .select2-container {
                min-width: 0px;
                .select2-choices {
                    border-radius: 3px;
                }
            }
        }
        .annotation-display {
            display: none;
            .vertical-spacing;
            .annotation {
                .info-section;
                white-space: pre-line;
            }
            .annotation:empty {
                height: @icon-btn-size;
            }
            // fake placeholder for editable text annotation
            .annotation:empty:after {
                position: relative;
                top: -4px;
                font-size: 10px;
                font-style: italic;
                color: grey;
                content : 'Click here to edit annotation';
            }
            textarea {
                margin: 0px 0px 2px 0px;
                display: block;
                border-radius: 3px;
                width: 100%;
            }
        }

        .dataset-display-applications {
            .display-application:last-child {
                .vertical-spacing;
            }
        }

        .dataset-peek {
            .vertical-spacing;
            pre.peek {
                width: 100%;
                margin: 0px;
                border-radius: 3px;
                background: white;
                color: black;
                font-size: 10px;
                overflow: auto;
                th {
                    color: white;
                    background: @panel-primary-heading-bg;
                }
                table, th, tr, td {
                    font-family: @font-family-monospace;
                    font-size: 10px;
                }
            }
        }
    }

}

.hda.dataset .state-icon {
    .fa-icon;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 16px;
}

.state-icon-error {
    background-color: white;
    border-radius: 8px;
    &:before {
        font-size: 20px;
        line-height: 16px;
        color: red;
        content: @fa-var-times-circle;
    }
}

// ---------------------------------------------------------------------------- history
.history-panel {

    [class$="messagesmall"] {
        margin: 0px;
    }

    .editable-text {
        border: solid transparent 1px;
    }
    .editable-text:hover {
        cursor: pointer;
        border: 1px dotted #999999;
    }

    .message-container  {
        cursor: pointer;
    }
    .message-container [class$=message] {
        margin: 0px;
        margin-bottom: 8px;
    }

    .history-controls {
        margin: 10px;
        padding: 0px;

        .history-search-controls {
            .history-search-input {
                //margin-right: 22px;
            }
            //.history-search-advanced {
            //    margin-top  : -21px;
            //    float       : right;
            //}
            display: none;
            padding: 0px 0px 8px 0px;
        }

        .history-title {
            margin-bottom: 8px;
        }
        .history-name {
            word-wrap: break-word;
            font-weight: bold;
        }
        .history-title input {
            width: 100%;
            // keep the text in position
            margin: -2px 0px -2px -4px;
            font-weight: bold;
        }

        .history-subtitle {
            margin-bottom: 8px;
        }
        .history-size {
            float: left;
        }
        .history-secondary-actions {
            .icon-btn-group();
            float: right;
            .icon-btn {
                margin-left: @icon-btn-margin;
            }
        }

        .quota-message {
            display: none;
            margin: 8px 0px 5px 0px;
        }

        //TODO: move these out
        .tags-display, .annotation-display {
            display: none;
            margin-bottom: 8px;
            label {
                display: block;
                margin: 0px;
                padding: 0px;
                font-weight: normal;
                color: #555;
            }
            label:after {
                content: ':';
            }
        }
        .tags-display {
            .select2-container {
                min-width: 0px;
                .select2-choices {
                    border-radius: 3px;
                }
            }
            input {
                border-radius: 3px;
            }
        }
        .annotation-display {
            .annotation {
                border-radius: 3px;
                border: 1px solid fadeout( @layout-border-color, 50% );
                padding: 4px;
                white-space: pre-line;
            }
            .annotation:empty {
                height: @icon-btn-size;
            }
            // fake placeholder for editable text annotation
            .annotation:empty:after {
                position: relative;
                top: -4px;
                font-size: 10px;
                font-style: italic;
                color: grey;
                content : 'Click here to edit annotation';
            }
            textarea {
                margin: 0px 0px 2px 0px;
                display: block;
                border-radius: 3px;
                width: 100%;
            }
        }

        .history-dataset-actions {
            display: none;
            .clear;
            .btn {
                padding-top: 2px;
                padding-bottom: 2px;
                font-size: 90%;
            }
            .history-dataset-action-popup-btn {
                float: right;
            }
        }
    }

    // display only a top border on all
    .dataset {
        border-width: 1px 0px 0px 0px;
    }

    // add a bottom border on the last
    .dataset:last-child {
        border-width: 1px 0px 1px 0px;
    }

    .empty-history-message {
        display: none;
        margin: 0px 10px 0px 10px;
    }

    // for both history and dataset tags
    //TODO: move this out
    .tag-button {
        display: inline-block;
        height: 20px;
        margin: 2px 2px 0px 0px;
        border: 1px solid grey;
        border-radius: 3px 10px 10px 3px;
        padding: 2px 4px 2px 4px;
        background-color: #EEE;
        line-height: 13px;
        .tag-name {
            margin-right: 2px;
        }
    }
}

.state-icon-running {
    //TODO: couldn't find a way to do this with fa/spinning.less as mixin
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;

    @-moz-keyframes spin {
        0% { -moz-transform: rotate(0deg); }
        100% { -moz-transform: rotate(359deg); }
    }
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(359deg); }
    }
    @-o-keyframes spin {
        0% { -o-transform: rotate(0deg); }
        100% { -o-transform: rotate(359deg); }
    }
    @-ms-keyframes spin {
        0% { -ms-transform: rotate(0deg); }
        100% { -ms-transform: rotate(359deg); }
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(359deg); }
    }
    &:before {
        content: @fa-var-spinner;
    }
}

.state-icon-upload {
    overflow: hidden;

    &:before {
        display: inline-block;
        -webkit-animation: eclipse 2s infinite linear;
        -moz-animation: eclipse 2s infinite linear;
        -o-animation: eclipse 2s infinite linear;
        animation: eclipse 2s infinite linear;

        @-moz-keyframes eclipse {
            0% { -moz-transform: translate(0px,16px); }
            100% { -moz-transform: translate(0px,-16px); }
        }
        @-webkit-keyframes eclipse {
            0% { -webkit-transform: translate(0px,16px); }
            100% { -webkit-transform: translate(0px,-16px); }
        }
        @-o-keyframes eclipse {
            0% { -o-transform: translate(0px,16px); }
            100% { -o-transform: translate(0px,-16px); }
        }
        @-ms-keyframes eclipse {
            0% { -ms-transform: translate(0px,16px); }
            100% { -ms-transform: translate(0px,-16px); }
        }
        @keyframes eclipse {
            0% { transform: translate(0px,16px); }
            100% { transform: translate(0px,-16px); }
        }
        content: @fa-var-arrow-up;
    }
}

// Change background/border color depending on state
.dataset.state-ok, .dataset.state-failed_metadata {
    background: @state-success-bg;
    .state-icon {
        display: none;
    }
}

.dataset.state-error,
.dataset.state-empty {
    background: @state-danger-bg;
    .state-icon {
        .state-icon-error;
    }
}

.dataset.state-upload {
    background: @state-info-bg;
    .state-icon {
        .state-icon-upload;
    }
}

.dataset.state-queued {
    background: @state-default-bg;
    .state-icon {
        &:before {
            content: @fa-var-clock-o;
        }
    }
}

.dataset.state-running,
.dataset.state-setting_metadata {
    background: @state-running-bg;
    .state-icon {
        .state-icon-running;
    }
}

.dataset.state-paused {
    background: @state-paused-bg;
    .state-icon {
        &:before {
            content: @fa-var-pause;
        }
    }
}

.dataset.state-discarded {
    background: @state-default-bg;
    .state-icon {
        &:before {
            content: @fa-var-trash-o;
        }
    }
}

.dataset.state-noPermission {
    background: @state-default-bg;
    filter: alpha(opacity=60);
    -moz-opacity: .60;
    opacity: .60;
    .state-icon {
        font-size: 20px;
        &:before {
            content: @fa-var-lock;
        }
    }
}

.dataset.state-new {
    background: @state-default-bg;
    .state-icon {
        &:before {
            content: @fa-var-exclamation-circle;
        }
    }
}


// ---------------------------------------------------------------------------- annotated-history-panel
.annotated-history-panel {
    //TODO: most of these styles are specific to history/display.mako and not to this type of panel in general
    //TODO: some of these styles are also overrides of history-panel - remove those from hpanel and revisit this

    [class$=messagesmall] {
        margin: 8px 0px 8px 0px;
    }

    .history-controls {
        margin: 0px 0px 16px 4px;
        padding: 0px;

        .history-name {
            font-size: 150%;
            margin-bottom: 4px;
        }
        .history-subtitle {
            margin: 0px;
            padding: 0px 0px 0px 4px;
            padding-left: 4px;
        }

        .history-annotation {
            border: 1px solid lightgrey;
            border-width: 1px 0px 0px 0px;
            padding: 4px 0px 4px 0px;
            margin: 4px;
            white-space: pre-wrap;
        }
        .history-annotation:empty {
            display: none;
        }

        .history-search-controls {
            padding: 16px 0px 0px 0px;
        }
    }

    table.datasets-list {
        width: 100%;
        table-layout: fixed;

        .headers {
            border-bottom: 2px solid grey;
        }
        .headers th {
            padding: 8px;
        }
        .dataset-row {
            cursor: pointer;
            border-bottom: 1px solid grey;
        }
        .dataset-row > td {
            margin: 0px;
            padding: 0px;
            vertical-align: top;
        }
        .dataset-row > td:nth-child(1) {
            width: 50%;
        }
        .dataset-row > td:nth-child(2) {
            /* top and bottom should be <= title-bar padding */
            padding: 8px 16px 8px 16px;
            white-space: pre-wrap;
        }
        .dataset-row .dataset {
            border: 0px;
        }
    }
}

// ---------------------------------------------------------------------------- hdas
.hda .hda-hid:after {
    content: ':';
}
